<%= render 'shared/errors', resource: @user %>

<div class="ui placeholder segment">
  	<div class="ui one column very relaxed stackable grid">
		<div class="column">
			<%= form_with(model: @user, local: true) do |form| %>
				<div class="ui form">
					<div class="field">
						<label>Username</label>
						<div class="ui left icon input">
							<%= form.text_field :username, placeholder: 'Username' %>
							<i class="user icon" ></i>
						</div>
					</div>
                    <div class="field">
						<label>Email</label>
						<div class="ui left icon input">
							<%= form.email_field :email, placeholder: 'email' %>
							<i class="mail icon" ></i>
						</div>
					</div>
					<div class="field">
						<label>Password</label>
						<div class="ui left icon input">
							<%= form.password_field :password, placeholder: 'Enter your password' %>
							<i class="lock icon" ></i>
						</div>
					</div>
					<div></div>
                        <% if @user.new_record? %>
						    <%= form.submit "Sign Up", class:"ui black submit button" %>
                        <% else %>
                            <%= form.submit "Update account", class:"ui black submit button" %>
                        <% end %>
				</div>
            <% end %>
		</div>
    </div>
</div>
		